This is a tutorial to build machine learning models on Titanic dataset using tensorflow.

In [1]:
try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
  pass

TensorFlow 2.x selected.

Import esential libraries.

In [0]:
from __future__ import absolute_import, division, print_function, unicode_literals
import functools
import numpy as np
import tensorflow as tf

In [3]:
train_data_url = "https://storage.googleapis.com/tf-datasets/titanic/train.csv"
test_data_url = "https://storage.googleapis.com/tf-datasets/titanic/eval.csv"
train_file_path = tf.keras.utils.get_file("train.csv",train_data_url)
test_file_path = tf.keras.utils.get_file("eval.csv", train_data_url)

Downloading data from https://storage.googleapis.com/tf-datasets/titanic/train.csv
32768/30874 [===============================] - 0s 0us/step
Downloading data from https://storage.googleapis.com/tf-datasets/titanic/train.csv
32768/30874 [===============================] - 0s 0us/step

In [0]:
# Make numpy values easier to read.
np.set_printoptions(precision=3, suppress=True)